{% extends "main/main.html" %}

{% load static i18n %}

{% block content %}

  <div class="center-align rose-red" style="padding-top: 10px; width: 100%">
    <h1 class="grey-text text-lighten-4">Marlon Cendron</h1>
    <div class="container valign-wrapper" style="display: flex">
      <img class="circle responsive-img" src="{% static 'images/yeah.jpg' %}" style="height: 20vh">
      <p class="flow-text grey-text text-lighten-4 left-align" style="padding: 0 4vw">
        {% trans "English English English English English English English English English" %}
      </p>
    </div>

    <ul class="grey-text text-lighten-2 left-align" style="display: inline-block">
      <li>Telegram: <a target="_blank" rel="noopener noreferrer" class="grey-text text-lighten-3" href="https://t.me/mcendron">@mcendron</a></li>
      <li>E-mail: <a target="_blank" rel="noopener noreferrer" class="grey-text text-lighten-3" href="mailto:marlonvcendron@gmail.com">marlonvcendron@gmail.com</a></li>
      <li>Github: <a target="_blank" rel="noopener noreferrer" class="grey-text text-lighten-3" href="https://github.com/MarlonVCendron">MarlonVCendron</a></li>
    </ul>
  </div>

  <!-- 🐿 -->

  <div style="margin: 0 auto; width: 80%; display: flex; justify-content: space-between; flex-wrap: wrap; margin-top: .5rem">
  {% for p in posts %}
    <div class="card hoverable white darken-1 black-text post-card">
      <a href="/posts/{{p.0}}" style="width: 100%">
        <img src="/media/{{p.2}}"/>
        <div class="valign-wrapper" style="padding: 2vh">
          <p class="flow-text grey-text text-darken-3" style="word-break: break-all">{{p.1}}</p>
        </div>
      </a>
    </div>
  {% endfor %}
  </div>

{% endblock %}
