<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Marlon Cendron</title>

    {% load static %}
    <style media="screen">
      @font-face {
        font-family:"Menlo";
        src: url("{% static 'fonts/Menlo-Regular.ttf' %}") format("truetype");
      }
    </style>

    <link rel="stylesheet" href="{% static 'tinymce/css/prism.css' %}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
  </head>


  <body class="grey white">


    <div id="left">
      <main>
        <div class="container">

          {% block content %}
          {% endblock %}

          {% for i in "123456" %}
          <div class="card white darken-1 black-text" style="display: flex">
            <img src="{% static '/images/Untitled.png' %}" style="height: 28vh">
            <div class="valign-wrapper" style="padding: 2vh">
              <p class="flow-text grey-text text-darken-3">
                Sequi beatae est quos. Rerum suscipit animi porro dolor tempora ea. Asperiores eum non reiciendis cum natusSequi beatae est quos.
              </p>
            </div>
          </div>
          {% endfor %}

        </div>
      </main>
    </div>
    <div id="right" class="violet-red">
      <div class="content center-align">
        <h1 class="grey-text text-lighten-4">Marlon Cendron</h1>
        <img class="circle responsive-img" src="{% static 'images/yeah.jpg' %}" style="width: 40%">
        <p class="flow-text grey-text text-lighten-4" style="padding: 0 4vw">
          Sequi beatae est quos. Rerum suscipit animi porro dolor tempora ea. Asperiores eum non reiciendis cum natusSequi beatae est quos.
        </p>


        <ul class="grey-text text-lighten-2 left-align" style="display: inline-block">
          <li>Telegram: <a class="grey-text text-lighten-3" href="https://t.me/mcendron">@mcendron</a></li>
          <li>E-mail: <a class="grey-text text-lighten-3" href="mailto:marlonvcendron@gmail.com">marlonvcendron@gmail.com</a></li>
          <li>Github: <a class="grey-text text-lighten-3" href="https://github.com/MarlonVCendron">Github</a></li>
        </ul>
      </div>



      <footer class="grey-text text-lighten-3">
        <div class="container" style="width: 40%">
          <ul id="lang" style="display: flex; justify-content: center">
            <li><a href="">EN</a></li>
            <li><a href="">DE</a></li>
            <li><a href="">PT</a></li>
          </ul>
        </div>

      </footer>
    </div>


  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"></script>
  <script src="{% static 'js/background.js' %}"></script>

  <script type="text/javascript" src="{% static 'tinymce/js/prism.js' %}"></script>
</html>
