<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Marlon Cendron</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'tinymce/css/prism.css' %}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
  </head>


  <body class="grey white">
    <div class="navbar-fixed violet-red">
      <br>
      <br>
      <br>
      <br>
    </div>


    <main>
      {% block content %}
      {% endblock %}

      <!-- <div class="container">
        <div class="card white darken-1">
          <div class="card-content black-text">
            <p class="flow-text">
              Sequi beatae est quos. Rerum suscipit animi porro dolor tempora ea. Asperiores eum non reiciendis cum natus. Ipsam omnis ut quia temporibus corporis.Esse praesentium ab deleniti numquam numquam explicabo. Nemo et ex suscipit qui quas labore voluptatem. Illum harum vel et odit ipsa. Neque rem voluptatum possimus error quibusdam. Fuga autem aut mollitia cumque. Qui doloribus aliquid provident ut culpa eos rerum magnam.Voluptatem quaerat quia voluptates nisi accusamus beatae possimus.
              Sequi beatae est quos. Rerum suscipit animi porro dolor tempora ea. Asperiores eum non reiciendis cum natus. Ipsam omnis ut quia temporibus corporis.Esse praesentium ab deleniti numquam numquam explicabo. Nemo et ex suscipit qui quas labore voluptatem. Illum harum vel et odit ipsa. Neque rem voluptatum possimus error quibusdam. Fuga autem aut mollitia cumque. Qui doloribus aliquid provident ut culpa eos rerum magnam.Voluptatem quaerat quia voluptates nisi accusamus beatae possimus.
            </p>
          </div>
        </div>
      </div> -->

    </main>

    <footer class="page-footer violet-red">
    </footer>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"></script>
  <script src="{% static 'js/background.js' %}"></script>

  <script type="text/javascript" src="{% static 'tinymce/js/prism.js' %}"></script>
</html>
