{% extends "main/main.html" %}


{% block content %}

  <style media="screen">
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    blockquote{
      border-color: #D33773;
    }

    h1{
      color: #b51151;
    }
    </style>

  <a href="/" id="home-btn" class="btn-floating btn-large rose-red" style="position: fixed; top: 20px; left: 20px">
    <i class="material-icons">home</i>
  </a>


  <div class="container offset-s1 offset-l1 offset-m1" style="margin-top: 2vh; margin-bottom: 2vh;">
    <div style="padding: 2vw" class="white darken-1 z-depth-1">
      <div class="card-content black-text">
        <h1 style="word-break: break-all;">
          <span lang="en">{{p.title_EN}}</span>
          <span lang="de">{{p.title_DE}}</span>
          <span lang="pt">{{p.title_PT}}</span>
        </h1>
        <p>{{p.date_published}}</p>

        <p id="content" class="flow-text" style="hyphens: auto">
          <span id="content_en" lang="en">{{p.content_EN}}</span>
          <span id="content_de" lang="de">{{p.content_DE}}</span>
          <span id="content_pt" lang="pt">{{p.content_PT}}</span>
        </p>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>

  <script>
    const converter = new showdown.Converter();
    const en = document.getElementById('content_en');
    const de = document.getElementById('content_de');
    const pt = document.getElementById('content_pt');
    showdown.setFlavor('github');

    var data = JSON.parse("{{data|escapejs}}");

    en.innerHTML = converter.makeHtml(data.en);
    de.innerHTML = converter.makeHtml(data.de);
    pt.innerHTML = converter.makeHtml(data.pt);
  </script>

{% endblock %}
