*{
  font-family: 'Menlo';
}

.rose-red{
  background-color: #b51151;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

strong{
  font-weight: bold;
}

main {
  flex: 1 0 auto;
}

#defaultCanvas0{
  position: absolute;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

ul li a{
  font-weight: bold;
}

#lang{
  /* position: fixed; */
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 20px 0 0;
  width: 100px;
  padding: 0 15px;
  border-radius: 25px;
  z-index: 100;
}

path[d="M7 10l5 5 5-5z"] {
  fill: rgb(248, 248, 248);
}

#lang input{
  font-weight: bold;
  color: rgb(248, 248, 248);
  border: none;
  margin: 0;
  text-transform: uppercase;
}

#lang span{
  color: #b51151;
  text-transform: uppercase;
}

.post-card{
  margin: .5rem 0 1rem 0;
  display: flex;
  width: 49%;
  cursor: pointer;
}

.post-card a{
  display: flex;
}

.post-card a img{
  height: 28vh;
  width: 28vh;
}

#home-btn:hover{
  background-color: #D33773;
}

#content img{
  max-width: 100%;
}

@media only screen and (max-width : 1280px) {
  .post-card{
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width : 480px) {
  .post-card{
    display: block;
    width: 100%;
  }

  .post-card a{
    display: block;
  }

  .post-card a img{
    width: 100%;
    height: auto;
  }
}
