*{
  font-family: 'Menlo';
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.violet-red{
  background-color: #9C0F75;
  /* background-color: #c1126e; */
}

h1{
  font-size: 3.6rem;
}

#defaultCanvas0{
  position: absolute;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

#left{
  width: 70%;
}

#right{
  width: 30%;
  height: 100vh;
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
}

.content{
  flex: 1 0 auto;
}

ul li a{
  font-weight: bold;
}

#lang li{
  margin: 0 10px;
}

#lang li img{
  width: 1.8vw;
}

footer{
  background-color: #af2d8b;
  /* padding: 20px; */
}
